@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
<h2>Roles</h2>
<table>
    <thead>
        <tr>
            <th>Role Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="CreateRole">Create New Role</a>
